

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <style>
        body {
          background-color: #000104;
        }

        h1 {
        color: white;
        }
        </style>
    <title>Choose a question</title>
</head>
<body>
    <h1>Credits: </h1>
    <div class='cardContainer'>
        <div class='darkcard'>
          <p class='text'>Who is the best CodingDojo teacher and TA evah?</p>
        </div>
      
        <div class='lightcard'>
          <p class='text'>Ciso & Chris.<br>THANK YOU!<br> You two are indeed the best. <br><br> We were lucky. <!DOCTYPE html>
          <html lang="en">
          <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
          </head>
          <body>
            
          </body>
          </html></p>
        </div>
        
        <div class='cardstack'>
            
          <div class='light stackcard'>
            <ul class='text menu'>
              <li>Vladimir Putin.</li>
            </ul>
          </div>
          
          <div class='light stackcard'>
            <ul class='text menu'>
              <li>72 virgins.</li>
            </ul>
          </div>
          
          <div class='light stackcard'>
            <ul class='text menu'>
              <li>Somali pirates.</li>
            </ul>
          </div>
          
          <div class='light stackcard'>
            <ul class='text menu'>
              <li>Sperm whales.</li>
            </ul>
          </div>
          
          <div class='light stackcard'>
            <ul class='text menu'>
              <li>Surprise sex!</li>
            </ul>
          </div>
          
          <div class='light stackcard'>
            <ul class='text menu'>
              <li>That ass.</li>
            </ul>
          </div>
          
          <div class='light stackcard'>
            <ul class='text menu'>
              <li>Stormtroopers.</li>
            </ul>
          </div>
          
          <div class='light stackcard'>
            <ul class='text menu'>
              <li>Breakdancers</li>
            </ul>
          </div>
          
          <div class='light stackcard'>
            <ul class='text menu'>
              <li>Oompa Lumpas</li>
            </ul>
          </div>
          
          <div class='light stackcard'>
            <ul class='text menu'>
              <li>Substitute teachers.</li>
            </ul>
          </div>
          
        </div>
      </div>
</body>
</html>