{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


    <title>Start Game</title>
</head>

<body>
    <div class="container d-flex flex-column justify-content-center align-items-center">
    <h1>Cards against humanity</h1>
    <h6>Regular version | <a href="/example">Credits</a></h6>
    <form method="POST" action="/start">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Choose a name:</label>
            <input type="text" name="name" placeholder="Choose a Name">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                {% if message.extra_tags == "first_name" %}
                <li{% if message.tags %} class="text-danger {{ message.tags }}" {% endif %}>{{ message }}
                    </li>
                    {% endif %}
                    {% endfor %}
            </ul>
            {% endif %}
            <p>
            <label for="numberplayers">Choose number of players:</label>
            <div class="form-group">
                <select class="form-select" id="inputGroupSelect04" name="form_select"
                    aria-label="Example select with button addon">
                    <option selected>Choose ...</option>
                    <option value="1">1 player</option>
                    <option value="2">2 players</option>
                    <option value="3">3 players</option>
                    <option value="4">4 players</option>
                    <option value="5">5 players</option>
                    <option value="6">6 players</option>
                </select>
                <br>
            <button class="btn btn-success mb-4" type="submit" value="result">Start game</button>
    </form>
    
</p>
</div>
    </div>
    </div>
</body>

</html>